.centerdiv {
    display: flex;
    justify-content: center;
}
input{
    height: 30px;
    width: 300px;
    font-size: x-large;
}
.login-text1{
    padding: 50px;
    font-weight: bold;
    font-size: x-large;
}
.login-text2{
    padding: 58px;
    font-weight: bold;
    font-size: x-large;
}
button.signin{
    height: 50px;
    width: 100px;
    font-weight: bold;
    font-size: larger;
}
.error-message-one{
    font-size: small;
    color: red;
    margin-left: 95px;
}
.error-message-two{
    font-size: small;
    color: red;
    margin-left: 150px;
}