body {
    background-image: url("../assets/images/e-commerce-background.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}


.zoom:hover {
    -ms-transform: scale(1.1);
    /* for the transform to work on IE 9 */
    -webkit-transform: scale(1.1);
    /* for the transform to work on Safari 3-8 */
    transform: scale(1.1);
    z-index: 1000;
}

.centerdiv {
    display: flex;
    justify-content: center;
}

.product-card {
    position: relative;
    width: 260px;
    height: 256px;
    border: 3px solid #febd69;
    background-color: #232F3E;
    border-radius: 0px;
    margin: 0px;
}

.image-style {
    position: absolute;
    border: 1px solid black;
    height: 190px;
    width: 200px;
    left: 29px;
    right: 50px;
    top: 1px;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
a{
    text-decoration: none;
    color: black;
}

.card-text {
    position: absolute;
    bottom: -2px;
    left: 15px;
}

.card-text p {
    color: #febd69;
    margin: 0px;
}

.catalog-page .page-no-button-container{
    bottom: -22px;
}